<h1>Borrowers</h1>

<table class="table table-striped table-bordered table-hover">
  <tr>
    <th>Name</th>
    <th>Actions</th>
  </tr>
  <% @borrowers.each do |borrower| %>
    <tr>
      <td><%= link_to borrower.name, borrower_path(borrower) %></td>
      <td><%= link_to "View History", borrower_path(borrower) %></td>
    </tr>
  <% end %>
</table>
